:root {
    --primary: #c778dd;
    --gray: #ABB2BF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #282C33;
    font-family: 'Fira code';
    color: white;
    margin-inline: 350px;
}

@media screen and (min-width:1025px) {
    body {
        font-size:2px;
    }
}

/* Estilos navegação */
nav{
    margin: 32px 0px 62px;
    display: flex;
    justify-content: space-between;
}

.logoMarca {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Estilos links navegação */
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    list-style: none;
}

.links a {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray);
}

.links a:hover {
    transition-duration: 400ms;
    color: white;
}


span {
    color: var(--primary);
    font-weight: 700;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.fotoPerfil {
    text-align: center;
}

.quadradoRoxoMain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 80px 8px 62px;
    border: 1px solid var(--gray);
    margin-top: -5px;
}

.resumoSobre h2{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
    width: 560px;
}

.resumoSobre p{
    width: 463px;
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.resumoSobre button{
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid var(--primary);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    font-family: 'fira code';
}